<div class="container">
  <div class="page-header">
    <h1>Articles by: <%= author %></h1>
  </div>
  <% articles.forEach(function (article, i) { %>
    <h4><a href="/articles/<%= article._id %>"><%= article.title %></a> - <small>posted on: <%= article.date %></small></h4>
    <p class="lead"><%= article.summary %></p>
    <p class="text-muted">categories: <a href="/articles/byCategory/<%= article.category.join(' & ') %>"><%= article.category.join(' & ') %></a></p>
    <p><a href="/articles/<%= article._id %>">Read More</a></p>
    <hr>
  <% }) %>
  <p>Back to <a href="/articles">all articles</a>.</p>
</div>
