<div class="container">

<form action="/articles/<%= article._id %>?_method=PATCH" method="post">
  <h2 class="form-signin-heading">Editing Article <%= article._id %></h2>
  <div class="form-group">
  <label for="inputTitle">Article Title</label>
  <input type="text"
         id="inputTitle"
         class="form-control"
         name="article[title]"
         value="<%= article.title %>">
  </div>
  <div class="form-group">
  <label for="inputAuthor">Author Name</label>
  <input type="text"
         id="inputAuthor"
         class="form-control"
         name="article[author]"
         value="<%= article.author %>">
  </div>
  <h4>Categories</h4>
  <div class="checkbox">
  <label for="category1">Music</label>
  <input id="category1"
         type="checkbox"
         name="article[category][]"
         value="Music">
  <label for="category2">Media</label>
  <input id="category2"
          type="checkbox"
          name="article[category][]"
          value="Media">
  <label for="category3">Sports</label>
  <input id="category3"
         type="checkbox"
         name="article[category][]"
         value="Sports">
  <label for="category4">Technology</label>
  <input id="category4"
         type="checkbox"
         name="article[category][]"
         value="Technology">
  </div>
  <div class="form-group">
  <label for="inputSummary">Summary</label>
  <input type="text"
         id="inputSummary"
         class="form-control"
         name="article[summary]"
         maxlength=140
         value="<%= article.summary %>">
  </div>
  <h4>Write away...</h4>
  <textarea class="form-control" rows="30" name="article[content]" value="<%= article.content %>"></textarea><br/>
  <button type="submit" class="btn btn-success">Save Changes</button>
</form>
