<div class="container">

<form action="/articles/<%= article._id %>?_method=PATCH" method="post">
  <h2 class="form-signin-heading">Editing Article <%= article._id %></h2>
  <div class="form-group">
  <label for="inputTitle">Article Title</label>
  <input type="text"
         id="inputTitle"
         class="form-control"
         name="article[title]"
         value="<%= article.title %>">
  </div>
  <div class="form-group">
  <label for="inputAuthor">Author Name</label>
  <input type="text"
         id="inputAuthor"
         class="form-control"
         name="article[author]"
         value="<%= article.author %>">
  </div>
  <label for="inputCategories">Categories</label>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="article[category][]"
      value="Music"> Music
    </label>
    <label>
      <input type="checkbox" name="article[category][]"
      value="Media"> Media
    </label>
    <label>
      <input type="checkbox" name="article[category][]"
      value="Sports"> Sports
    </label>
    <label>
      <input type="checkbox" name="article[category][]"
      value="Technology"> Technology
    </label>
  </div>
  <div class="form-group">
  <label for="inputSummary">Summary</label>
  <input type="text"
         id="inputSummary"
         class="form-control"
         name="article[summary]"
         maxlength=140
         value="<%= article.summary %>">
  </div>
  <label for="inputText">Write away...</label>
  <textarea class="form-control" rows="30" name="article[content]"><%= article.content %></textarea><br/>
  <button type="submit" class="btn btn-success">Save Changes</button>
</form>
