<div class="container">
  <div class="page-header">
    <h2><%= article.title %> <br/><small>by <a href="/articles/byUser/<%= article.author %>"><%= article.author %></a></small></h2>
    <p>last updated: <%= article.date %></p>
    <p class="text-muted">categories: <%= article.category.join(' & ') %></p>
  </div>
  <p><%= article.content %></p>
  <p>
  <a class="btn btn-warning" href="/articles/<%= article._id %>/edit" role="button">Edit Article</a>
  <form action="/articles/<%= article._id %>?_method=DELETE"
        method="post">
    <button type="submit" class="btn btn-danger">Delete Article</button>
  </form>
  </p>
  <p>Back to <a href="/articles">all articles</a>.</p>
</div>
